.glitchWrapper {
    position: relative;
    display: inline-block;
}

.glitchText {
    position: relative;
    display: inline-block;
}

.glitchText::before,
.glitchText::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.glitchText::before {
    color: #0ff;
    z-index: -1;
    animation: glitch-anim-1 2.5s infinite linear alternate-reverse;
}

.glitchText::after {
    color: #f0f;
    z-index: -2;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
        transform: translate(-2px, 1px);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
        transform: translate(2px, -1px);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
        transform: translate(-2px, 2px);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(2px, -2px);
    }

    80% {
        clip-path: inset(10% 0 70% 0);
        transform: translate(-1px, 1px);
    }

    100% {
        clip-path: inset(30% 0 20% 0);
        transform: translate(1px, -1px);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(15% 0 60% 0);
        transform: translate(2px, -1px);
    }

    20% {
        clip-path: inset(55% 0 15% 0);
        transform: translate(-2px, 1px);
    }

    40% {
        clip-path: inset(35% 0 45% 0);
        transform: translate(2px, -2px);
    }

    60% {
        clip-path: inset(75% 0 10% 0);
        transform: translate(-2px, 2px);
    }

    80% {
        clip-path: inset(5% 0 85% 0);
        transform: translate(1px, -1px);
    }

    100% {
        clip-path: inset(25% 0 35% 0);
        transform: translate(-1px, 1px);
    }
}